[MASTER]
ignore-patterns=^\.venv,venv,\.mypy_cache,\.pytest_cache

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code
